@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.App {
  text-align: center;
}

* {
  font-family: "Roboto";
}

.todos-heading {
  text-align: center;
  font-family: "Roboto";
  font-size: 35px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 20px;
}

li {
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 19px 0px 24px 0px;
}

.todos-bg-container {
  height: 100vh;
  width: 90%;
}

.button2 {
  border: none;
  background-color: #e6f6ff;
}
.delete-button,
.save-button,
.edit-button {
  height: 18px;
  width: 20px;
}

.edit-input {
  border: #e6f6ff;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button {
  cursor: pointer;
}